# Dépendances
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de runtime
pids
*.pid
*.seed
*.pid.lock

# Répertoires de build
/build
/dist

# Fichiers temporaires
npm-debug.log
yarn-error.log
yarn-debug.log

# Fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers de cache
.cache
.next
.nuxt
.jest

# Fichiers de couverture
/coverage

# Fichiers et dossiers de configuration IDE spécifiques à WebStorm (et IntelliJ IDEA)
.idea
*.iml

# Dossiers de cache et de logs locaux de l'IDE
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
# Fichiers de patch de l'IDE
.idea/patches

# Fichiers de package
package-lock.json
yarn.lock

# Fichiers de bundle
*.tgz
/public

# Divers
.DS_Store
Thumbs.db
*.swp
*.swo
*~
