RewriteEngine On

# S'assurer que mod_rewrite fonctionne sur le serveur
Options +FollowSymLinks
RewriteBase /

# Réécriture pour accéder à /docs au lieu de /src/view/docs.html
RewriteRule ^docs$ src/view/docs.html [L]



