@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --card-opacity: 70%;
}

.background {
    background: radial-gradient(circle at center, #006ef8, #060b27);
}

.card {
    background: linear-gradient(-30deg, rgba(6, 15, 44, var(--card-opacity)) 0%, rgba(0, 19, 107, var(--card-opacity)) 54%, rgba(6, 11, 39, var(--card-opacity)) 100%);
    @apply rounded-xl ;
}